@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors that is used for the whole website */
:root {
  --color-1: #102820;
  --color-2: #006400;
  --color-3: #4C6444;
  --color-4: #CABA9C;
  --color-5: #8A6240;
  --color-6: #4D2D18;
}

/* sets all the elements' padding and margin to zero */
* {
  margin: 0;
  padding: 0;
}

/* font of the website it its back-up fonts */
body {
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

svg {
  fill: white;
}

/* styles for the main container of the website */
#main-container {
  display: flex;
  flex-direction: column;
}

/* styles for the first section */
.first-container-horizontal {
  position: sticky;
  top: 0;
  z-index: 8;
}

.first-section-vertical {
  height: 10vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-section-vertical span {
  color: whitesmoke;
  font-size: 3vh;
}

.first-section-vertical span>u {
  font-weight: 700;
  text-decoration: underline;
}

.first-section-vertical span>a {
  color: var(--color-4);
  font-weight: 600;
  text-decoration: underline;
}

/* styles for the second second */
/* this is where the navigation bar styles located */
.second-section-vertical .nav-bar {
  height: 12vh;
  background: var(--color-1);
  padding: 3vh 0 2vh 0;
  border-bottom: 0.1vh solid black;
  box-shadow: 0 0.6vh 2vh var(--color-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.second-section-vertical .nav-bar .sfhs-logo-container {
  width: 8vw;
}

.second-section-vertical .nav-bar .sfhs-logo-container .sfhs-logo {
  height: 10vh;
  margin-left: 1.6vw;
}

.second-section-vertical .nav-bar .school-name-container {
  flex: 2;
}

.second-section-vertical .nav-bar .school-name-container>div .first-text {
  background: var(--color-4);
  color: var(--color-2);
  font-size: 3.4vh;
  font-weight: 700;
  text-shadow: -0.1vw 0.1vh black;
  padding: 0.3vh 0.6vw;
  border: 0.2vh solid black;
  border-radius: 1vh;
}

.second-section-vertical .nav-bar .school-name-container>div .second-text {
  color: whitesmoke;
  font-size: 3vh;
  font-weight: 600;
  margin-left: 4vw;
}

.second-section-vertical .nav-bar .enroll-btn-container {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section-vertical .nav-bar .enroll-btn-container .enroll-btn {
  background: var(--color-5);
  color: whitesmoke;
  font-size: 3.4vh;
  font-weight: 700;
  text-shadow: 0.1vw 0.1vh black;
  text-decoration: none;
  padding: 2vh 3vw;
  border: 0.4vh solid black;
  border-radius: 2vh;
  box-shadow: 0.4vw 0 0.8vh black;
  margin-left: 4vw;
  margin-bottom: 1vh;
  transition: 0.35s linear
}

.second-section-vertical .nav-bar .enroll-btn-container .enroll-btn:hover {
  border: 0.4vh solid whitesmoke;
}

.second-section-vertical .nav-bar .sidebar-btn-container {
  width: 8vw;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn #sidebar-active {
  display: none;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn #sidebar-active:checked~.links-container {
  display: flex;
  right: 0;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn #sidebar-active:checked~#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn .links-container {
  height: 100%;
  width: 100%;
  background: #04471C;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  width: 35vw;
  box-shadow: -0.4vw 0 0.6vh rgba(0, 0, 0, 0.25);
  transition: 0.65s ease-out;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn .links-container a {
  height: auto;
  width: 100%;
  color: whitesmoke;
  font-size: 2.4vh;
  font-weight: 600;
  box-sizing: border-box;
  padding: 3vh 2vw;
  transition: 0.35s ease-out;
  text-decoration: none;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn .links-container a:hover {
  background: var(--color-1);
  font-weight: 600;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn .links-container .close-sidebar-btn .sidebar-image {
  height: 50vh;
  width: 100%;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn .links-container .close-sidebar-btn .inside-sidebar-container>svg {
  position: absolute;
  top: 4vh;
  left: 0vw;
}

.second-section-vertical .nav-bar .sidebar-btn-container .sidebar-btn .links-container .close-sidebar-btn .inside-sidebar-container>span {
  color: whitesmoke;
  font-size: 7vh;
  font-weight: 700;
  text-shadow: 0.2vw 0.1vh black;
  position: absolute;
  top: 39vh;
  right: 2vw;
}

.return-container {
  background: var(--color-2);
  height: 20vh;
  display: flex;
}

.return {
  margin: 4vh 0 0 3vw;
}

.return a {
  text-decoration: none;
}

.return a svg {
  fill: whitesmoke;
  height: 6vh;
  margin-bottom: -2vh;
}

.return a span {
  color: whitesmoke;
  font-size: 3vh;
  font-weight: 600;
  margin-left: 1vw;
}

/* styles for the third section */
/* this is where the styles of the main content located */
.third-section-horizontal {
  background: var(--color-2);
  height: 380vh;
}

.third-container-vertical .header-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-container-vertical .header-container span {
  color: whitesmoke;
  font-size: 8vh;
  font-weight: 700;
  text-shadow: -0.3vw 0.1vh var(--color-1);
}

.third-container-vertical .header-container hr {
  width: 30vw;
  border-bottom: 0.6vh solid whitesmoke;
  margin-top: 2vh;
}

.third-container-vertical .main-content .first-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.third-container-vertical .main-content .first-section-container .first-content {
  height: 78vh;
  width: 30vw;
  background: var(--color-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5vh 2vw;
  border: 0.4vh solid black;
  border-radius: 2vh;
  box-shadow: -0.8vw 1.8vh black;
}

.third-container-vertical .main-content .first-section-container .first-content .inside-header span {
  background: var(--color-5);
  color: whitesmoke;
  font-size: 4vh;
  font-weight: 700;
  text-shadow: -0.1vw 0.1vh var(--color-1);
  padding: 1.6vh 3vw;
  border: 0.4vh solid var(--color-6);
  border-radius: 2vh;
  box-shadow: -0.2vw 0.2vh var(--color-1);
}

.third-container-vertical .main-content .first-section-container .first-content .location-container {
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.third-container-vertical .main-content .first-section-container .first-content .location-container span {
  font-size: 3vh;
}

.location-container span:nth-child(1) {
  color: var(--color-2);
  font-weight: 600;
  text-shadow: -0.1vw 0.1vh var(--color-1);
}

.location-container span:nth-child(2) {
  color: black;
  font-weight: 500;
}

.location-container span:nth-child(3) {
  color: var(--color-5);
  font-weight: 500;
  text-shadow: -0.1vw 0.1vh var(--color-1);
}

.third-container-vertical .main-content .first-section-container .first-content .credits-container {
  margin-top: 1vh;
}

.credits-container span {
  font-size: 2vh;
  font-weight: 500;
}

.third-container-vertical .main-content .first-section-container .second-content {
  height: 60vh;
  width: 30vw;
  margin-left: 5vw;
}

.third-container-vertical .main-content .second-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12vh;
}

.third-container-vertical .main-content .second-section-container .third-content {
  background: whitesmoke;
  height: 85vh;
  width: 50vw;
  text-align: center;
  padding: 8vh 2vw;
  border: 0.6vh solid black;
  border-radius: 2vh;
}

.third-container-vertical .main-content .second-section-container .third-content .inside-header {
  margin-bottom: 2vh;
}

.third-container-vertical .main-content .second-section-container .third-content .inside-header span {
  color: black;
  font-size: 5vh;
  font-weight: 700;
  text-shadow: -0.1vw 0.1vh var(--color-1);
}

.third-container-vertical .main-content .second-section-container .third-content .history-container {
  background: var(--color-1);
  padding: 4vh 2vw;
  border-radius: 2vh;
}

.third-container-vertical .main-content .second-section-container .third-content .history-container span {
  color: whitesmoke;
  font-size: 3vh;
}

.third-container-vertical .main-content .second-section-container .third-content .full-info {
  margin-top: 1vh;
  text-align: right;
}

.third-container-vertical .main-content .second-section-container .third-content .full-info a {
  color: var(--color-1);
  font-size: 2.8vh;
  font-weight: 700;
}

.third-container-vertical .main-content .third-section-container {
  margin-top: 18vh;
}

.third-container-vertical .main-content .third-section-container .fourth-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-container-vertical .main-content .third-section-container .fourth-content .inside-header {
  margin-bottom: 8vh;
}

.third-container-vertical .main-content .third-section-container .fourth-content .inside-header span {
  background: var(--color-5);
  color: whitesmoke;
  font-size: 5vh;
  font-weight: 600;
  text-shadow: -0.2vw 0.1vh var(--color-1);
  padding: 3vh 4vw;
  border: 0.4vh solid black;
  border-radius: 1.4vh;
  box-shadow: 0 0 2vh black;
}

.third-container-vertical .main-content .third-section-container .fourth-content .sfhs-hymn-container {
  background: var(--color-4);
  height: 80vh;
  width: 60vw;
  padding: 2vw 4vh;
  border: 0.6vh solid black;
  border-radius: 2vh;
  box-shadow: 0.8vw 3vh black;
}

/* styles for the fourth section */
.fourth-section-vertical {
  height: 15vh;
  background: black;
  display: flex;
  align-items: center;
}

.fourth-section-vertical img {
  height: 4vh;
  margin: 0 2vw;
}

.fourth-section-vertical div {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.fourth-section-vertical div span {
  color: whitesmoke;
  font-size: 2.4vh;
  font-weight: 500;
}

.fourth-section-vertical div span:nth-child(2) {
  margin-right: 2.6vw;
}