@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-1: #102820;
  --color-2: #006400;
  --color-3: #4C6444;
  --color-4: #CABA9C;
  --color-5: #8A6240;
  --color-6: #4D2D18;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  height: 100vh;
  background: url('/resources/images/welcome_page_bg.jpeg') no-repeat center center;
  background-size: 100% auto;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

/* styles for the top section */
.top-container {
  background: var(--color-3);
  padding: 1.6vh 0.8vw 1.6vh 1.4vw;
  border-radius: 0.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18vh;
  right: 19vw;
}

.top-container .header {
  color: whitesmoke;
  text-shadow: -0.2vw 0.2vh black;
  font-size: 4.4vh;
  font-weight: 500;
}

.top-container .sfhs-student-term {
  background: var(--color-4);
  color: var(--color-2);
  font-size: 5vh;
  font-weight: 600;
  text-shadow: -0.2vw 0 var(--color-1);
  box-shadow: -0.4vw 0.8vh black;
  padding: 0vh 1vw;
  border: 0.3vh solid black;
  border-radius: 0.4vw;
  margin-left: 1vw;
}

.middle-container {
  background: var(--color-1);
  padding: 1vw;
  border: 0.3vh solid whitesmoke;
  border-radius: 0.8vw;
  display: inline-block;
  position: absolute;
  top: 31vh;
  left: 22vw;
}

/* styles for the middle section */
.middle-container .top-message {
  margin: 1vh 0 2vh 0vw;
  display: flex;
  align-items: center;
}

.middle-container .top-message .sfhs-logo {
  height: 12vh;
}

.middle-container .top-message .divider-text {
  font-size: 5vh;
  font-weight: 300;
  margin-left: 3.6vw;
  margin-right: 3.4vw;
}

.middle-container .top-message>span {
  color: white;
  font-size: 3vh;
  font-weight: 300;
  text-shadow: -0.1vw 0.1vh black;
}

.middle-container .school-name {
  color: #CABA9C;
  font-size: 3.4vh;
  font-weight: 600;
  text-shadow: -0.1vw 0.1vh darkgreen;
  margin-left: 0.2vw;
}

.middle-container .quote-container {
  height: 22vh;
  background-color: white;
  margin-top: 1.2vh;
  display: flex;
  flex-direction: column;
}

.middle-container .quote-container .quote-message-container {
  margin: 3vh 1vw 1vh 1vw;
}

.middle-container .quote-container .quote-message-container>span {
  text-align: center;
  font-size: 3vh;
  font-weight: 600;
}

.middle-container .quote-container .quote-message-container .quotation-mark {
  height: 4vh;
  margin-right: 1vw;
}

.middle-container .quote-container .quote-author {
  text-align: right;
  font-size: 2.6vh;
  font-weight: 500;
  margin-right: 0.6vw;
  margin-bottom: 1vh;
}

/* styles for the bottom section */
.bottom-container {
  height: 8vh;
  background: #8A6240;
  padding: 0.6vh 8vw;
  border: 0.5vh solid black;
  border-radius: 0.6vw;
  display: flex;
  align-items: center;
  position: absolute;
  top: 78vh;
  left: 27vw;
}

.bottom-container .direction-message {
  color: white;
  font-size: 2.8vh;
  font-weight: 500;
  margin-right: 1vw;
}

.bottom-container .home-button {
  background: #4C6444;
  padding: 0.6vh 1vw;
  border: none;
  border-radius: 0.6vw;
  box-shadow: -0.4vw 0 1.2vh black;
}

.bottom-container .home-button>a {
  color: whitesmoke;
  font-size: 3vh;
  font-weight: 700;
  text-shadow: -0.1vw 0 white;
  text-decoration: none;
}